.about-page {
  color: #fff;
  background: #111;
}

.about-hero {
  
  padding: 120px 30px;
  text-align: center;
  position: relative;
}

.about-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.about-hero h1, .about-hero p {
  position: relative;
  z-index: 1;
}

.about-content {
  padding: 50px;
  text-align: center;
  max-width: 850px;
  margin: auto;
}

.about-gallery {
  padding: 50px;
  text-align: center;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-grid img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
