.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#1b1b1b;
  color:white;
  padding:16px 28px;
  position:sticky;
  top:0;
  z-index:20;
  height: 80px;
}

.brand { margin:0; font-size:20px; }

.nav-right ul {
  display:flex;
  gap:30px;
  list-style:none;
  margin:0;
  padding:0;
}

.nav-right a {
  color:white;
  text-decoration:none;
  font-weight:600;
}
